﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Accelerate.master" AutoEventWireup="true" Inherits="Accelerate_Phase_Complete" Codebehind="Accelerate-Phase-Complete.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        <img src="img/imgPhaseComplete.png" />

    <br /><br />
    <asp:Button ID="btnContinue" runat="server" Text="Continue" CssClass="Green3 btn" OnClick="btnContinue_Click" />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ScrMang" Runat="Server">
</asp:Content>

