﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="Accelerate" Codebehind="Accelerate.master.cs" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
   <%-- <link href="assets/css/appfonts.css" rel="stylesheet" />--%>
    <link href="assets/open-sans/open-sans.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 102px;
        }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
    <%--<asp:Literal ID="litStyleSheet" runat="server" />--%>

    <script type="text/javascript">
        function hideTeamshipMission() {
            teamshipDragDropInfo.style.display = "none";
            left.style.display = "none";
            right.style.display = "none";
        }
    </script>

</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="smMain" runat="server"></asp:ScriptManager>
        <!-- iFrame to Prevent Session Timeouts -->
        <iframe id="ifrmKeepAlive" src="KeepAlive.aspx" frameborder="0" width="0" height="0" runat="server"></iframe>
        <!-- iFrame to Prevent Session Timeouts -->

        <!-- Top Fixed Bar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <!-- Top Fixed Bar: Navbar Inner -->
            <div class="navbar-inner">
                <!-- Top Fixed Bar: Container -->
                <div class="container">
                    <!-- Mobile Menu Button -->
                    <a href="#">
                        <button type="button" class="btn btn-navbar mobile-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </a>
                    <!-- / Mobile Menu Button -->
                    <!-- / Logo / Brand Name -->
                    <a class="brand" href="#">
                        <img src="img/imgDeloitteLogoBlack.png" width="185px" />
                    </a>
                    <!-- / Logo / Brand Name -->
                </div>
                <!-- / Top Fixed Bar: Container -->
            </div>
            <!-- / Top Fixed Bar: Navbar Inner -->
            <!-- Top Fixed Bar: Breadcrumb -->
            <div class="breadcrumb clearfix">
                <!-- Top Fixed Bar: Breadcrumb Container -->
                <div class="container">

                    <!-- Top Fixed Bar: Breadcrumb Right Navigation -->
                    <ul class="pull-right">
                        <!-- / Top Fixed Bar: Breadcrumb Theme -->
                        <li>
                            <a href='https://www.instagram.com/deloitte_sa/'>
                                <img src="img/imgInsta.jpg" style="height: 25px; width: 25px;" />
                            </a>
                        </li>
                        <li>
                            <a href='https://www.facebook.com/DeloitteSA/'>
                                <img src="img/imgFB.jpg" style="height: 25px; width: 25px;" />
                            </a>
                        </li>
                        <li>
                            <a href='http://www.linkedin.com/company/deloitte-south-africa'>
                                <img src="img/imgLinkedIn.jpg" style="height: 25px; width: 25px;" />
                            </a>
                        </li>
                        <li>
                            <a href='https://twitter.com/DeloitteSA'>
                                <img src="img/imgTwitter.jpg" style="height: 25px; width: 25px;" />
                            </a>
                        </li>
                        <li>Welcome
                            <asp:Literal ID="litFirstName" runat="server"></asp:Literal></li>
                    </ul>
                    <!-- / Top Fixed Bar: Breadcrumb Right Navigation -->
                </div>
                <!-- / Top Fixed Bar: Breadcrumb Container -->
            </div>
            <!-- / Top Fixed Bar: Breadcrumb -->
        </div>
        <!-- / Top Fixed Bar -->
        <!-- Content Container -->
        <div class="container">
            <!-- Main Navigation: Box -->
            <div class="navbar navbar-inverse" id="nav">
                <!-- Main Navigation: Inner -->
                <div id="MenuBar" class="navbar-inner" style="background: #d0d0ce;">
                    <!-- Main Navigation: Nav -->
                    <ul class="nav" style="background: #d0d0ce;">
                        <!-- Main Navigation: Dashboard -->
                        <li class="active"><a href="Accelerate-Home.aspx">Home</a></li>
                        <%--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pre-Onboarding <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="Required-Forms.html">Required Documents</a></li>
                            </ul>
                        </li>--%>
                        <!-- / Main Navigation: Dashboard -->
                        <!-- Main Navigation: General -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Missions <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <%--<li><a href="#">Current Missions</a></li>--%>
                                <li><a href="Accelerate-Achievements.aspx">Achievements</a></li>
                            </ul>
                        </li>
                        <!-- / Main Navigation: General -->
                        <li><a href="Accelerate-HR.aspx">Mandatory Reading</a></li>
                        <li><a href="Accelerate-Portal.aspx">Knowledge Base</a></li>
                        <li><a href="Accelerate-Help.aspx">Help</a></li>
                    </ul>
                    <!-- / Main Navigation: Nav -->
                    <!-- Main Navigation: Search -->
                    <div class="navbar-search pull-right">
                        <a href="Accelerate-Login.aspx?sysLogout=true" style="position: relative; top: 8px; right: 20px; color: #000">Logout</a>
                    </div>
                    <!-- / Main Navigation: Search -->
                </div>
                <!-- / Main Navigation: Inner -->
            </div>
            <!-- / Main Navigation: Box -->
            <!-- Alert -->
            <!--<div class="alert alert-light">
            <a class="close" data-dismiss="alert">&times;</a>
            <i class="icon-comment"></i> Welcome back, <b>Janika</b>. We have missed you!
        </div>-->
            <!-- / Alert -->
            <!-- Profile -->
            <div class="row-fluid">
                <div class="span2">
                    <asp:Literal ID="litProfile" runat="server"></asp:Literal>
                    <!-- Side Menu -->
                    <div style="margin-bottom: 10px;">
                        <a href="Accelerate-My-Profile.aspx" style="color: #FFF">
                            <div class="top-link">
                                <img src="img/Group1.png" />My Profile
                            </div>
                        </a>
                        <a href="Accelerate-Notifications.aspx" style="color: #6b6f74">
                            <div class="top-link-2" style="border-bottom: 1px solid #FFF;">
                                <img src="img/Group2.png" />Notifications
                            </div>
                        </a>
                        <a href="Accelerate-Forum.aspx" style="color: #6b6f74">
                            <div class="top-link-2">
                                <img src="img/Group3.png" />Forums
                            </div>
                        </a>
                    </div>
                    <div class="infobox">
                        <div class="top-bar">
                            <h3 class="TAAF">
                                <img src="img/Group1.png" style="margin-right: 10px;" />Top Achievers</h3>
                        </div>
                        <div class="well" style="padding: 24px 12px !important;">
                            <asp:Repeater ID="rpTop3Achievers" runat="server">
                                <ItemTemplate>
                                    <div class='Achiever'>
                                        <div class='row-fluid'>
                                            <img src='<%#Eval ("strFullPath") %>' onerror="this.src='images/no-image.png'" title='<%#Eval ("strFullName") %>' alt='<%#Eval ("strFullName") %>' style='float: left; max-width: 50px;' />
                                            <div class='AchieverSection'>
                                                <span><b><%#Eval ("strFirstName") %> <%#Eval ("strSurname") %></b></span><br />
                                                <%#Eval ("iCurrentPoints") %> Points<br />
                                            </div>
                                        </div>
                                    </div>
                                </ItemTemplate>
                            </asp:Repeater>
                        </div>
                    </div>
                    <div class="infobox">
                        <a href="mailto:mishanth@stratagc.co.za?Subject=TELL US ABOUT YOUR EXPERIENCE!">
                            <div class="well" style="background: #000; color: #FFF; font-size: 20px;">
                                TELL US ABOUT YOUR EXPERIENCE!
                            </div>
                        </a>
                    </div>
                </div>
                <!-- MIDDLE PAGE SECTION -->
                <div class="span8">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
                </div>
                <!-- / MIDDLE PAGE SECTION END -->
                <div class="span2">
                    <div class="infobox well-small" style="background: #000; color: #FFF;">
                        <%--<div class="heading-small" style="font-weight: bold;">Welcome to the Deloitte Onboarding system</div>
                        Your mission is to become a Certified Deloitte Citizen.<br />
                        <br />
                        Completing all your missions will guarantee you points that can be redeemed to increase your chances of becoming a successful Deloitte Citizen.<br />
                        <br />
                        One new-hire will also earn a 1 - on - 1 lunch with their Service Line Leader."--%>
                        <asp:Literal ID="litWelcomeMessage" runat="server" />
                    </div>
                    <br />
                    <div class="well-small Blue2" style="color: #000; font-weight: 500;">
                        <div class="heading-small">Tips</div>
                        Complete missions by either clicking on the start button in my current mission or by clicking on a badge.<br />
                    </div>
                    <br />
                    <div class="infobox">
                        <div class="top-bar">
                            <h3 class="TAAF">
                                <img src="img/Group.png" style="margin-right: 10px;" />Activity Feed</h3>
                        </div>
                        <div class="well" style="background-color: #d7d8d6; color: #000;">
                            <asp:Literal ID="litActivityFeed" runat="server"></asp:Literal>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Content Container -->
        <!-- Footer -->
        <footer class="footer" style="text-align: left">
            <!-- Footer Container -->
            <div class="container">
                <a style="color:#000;" href="Accelerate-Disclaimer-Copyright.aspx">Disclaimer & Copyright</a> | <a style="color:#000;" href="Accelerate-Privacy.aspx">Privacy</a> | Security  © 2016 MA2 Consulting
            </div>
            <!-- / Footer Container -->
        </footer>
        <!-- / Footer -->

    </form>
    
    <!-- HTML5, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   
    <asp:ContentPlaceHolder ID="ScrMang" runat="server">
         <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/charts/excanvas.min.js"></script>
    <script src="assets/js/charts/jquery.flot.js"></script>
    <script src="assets/js/jquery.jpanelmenu.min.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <script src="assets/js/avocado-custom-predom.js"></script>
        <script src='assets/js/jquery.hotkeys.js'></script>
        <script src='assets/js/calendar/fullcalendar.min.js'></script>
        <script src="assets/js/jquery-ui-1.10.2.custom.min.js"></script>
        <script src="assets/js/jquery.pajinate.js"></script>
        <script src="assets/js/jquery.prism.min.js"></script>
        <script src="assets/js/jquery.dataTables.min.js"></script>
        <script src="assets/js/charts/jquery.flot.time.js"></script>
        <script src="assets/js/charts/jquery.flot.pie.js"></script>
        <script src="assets/js/charts/jquery.flot.resize.js"></script>
        <script src="assets/js/bootstrap/bootstrap.min.js"></script>

        <script src="assets/js/jquery.easing.min.js"></script>
        <script src="assets/js/jquery.chosen.min.js"></script>
        <script src="assets/js/avocado-custom.js"></script>
    </asp:ContentPlaceHolder>
</body>
</html>
