﻿@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('opensans-extrabold-webfont.eot');
    src: url('opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-extrabold-webfont.woff') format('woff'),
         url('opensans-extrabold-webfont.ttf') format('truetype'),
         url('opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body 
{
    width:100%;
    padding:0;
    margin:0;
    font-family:Open Sans;
    font-weight:normal;
    color:#333;
    background:#eee;
}

.ProfileHead
{
    font-family:'OpenSansExtraBold';
    margin: 20px 0px 0px 20px;
    color:#fff !important;
    text-transform:uppercase;
    font-weight:bolder;
    font-size:30px;
}

.ProfileMissionHead {
    font-family: 'OpenSans';
    margin: 51px 0px 0px 20px;
    color: #fff !important;
    font-weight: normal;
    font-size: 23px;
}

.ProfileMissionSubHead {
    font-family: 'OpenSans';
    margin: 51px 0px 0px 24px;
    color: #fff !important;
    font-weight: normal;
    font-size: 15px;
}


.ProfileHeadTip {
    width: 42px;
    height: 42px;
    -moz-border-radius: 22px 21px / 21px 22px;
    -webkit-border-radius: 22px 21px / 21px 22px;
    border-radius: 22px 21px / 21px 22px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #2d2d2d; /* layer fill content */
}

.CurrentPointsContainer
{
    float:right;
    margin: -30px 0px 0px 0px;
    color:#4db8ec;
    font-family:'Open Sans';
    font-size:23px;
}

.seperator
{
    float:right;
    margin: -30px 130px 0px 0px;
    background:#fff;
    width:1px;
    height:50px;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #2d2d2d;
}


/*h2
{
    line-height:25px;
    margin:0px 0px 15px 0px;
    padding:0;
}*/

.clr
{
    clear:both;
}

.topten
{
    margin-top:10px;
}

.top15
{
    margin-top:15px;
}

/*********** Colours To Be Used *********/

.black
{
    /*color:#636263;*/
    color:#4e4b4b;
}

.green
{
    color:#5bb75b !important;
}

.orange
{
   color:#f17e31;
}

.blue
{
    color:#2ca7e7;
}

.purple
{
    color:#d75fed;
}

.grey
{
    color:#b0b1b3;
}

.darkGrey
{
    color:#7f7f7f;
}

/****** Colours To Be Used End *******/

/*** Anchors/Links ***/

.linkWhite
{
    text-decoration: none;
    color: #ffffff !important;
}

.linkWhite:hover {
    font-weight:bold;
    color: #ffffff !important;
}

.linkGreyUnderlined
{
    font-family:Arial;
    color: #5a5a5a;
    text-decoration:underline;
}

.linkGreyUnderlined:hover
{
    text-decoration:none;
}

.linkGreyBlue
{
    color: #5a5a5a; 
    text-decoration:none;
    line-height:20px;
}

.linkGreyBlue:hover
{
    color:#2ca7e7;
    text-decoration:none;
}

.linkGreyBlue span
{
    color:#ccc;
    font-size:12px;
    line-height:15px;
}


/*** END Anchors/Links ***/

/*** Login Section ***/

.divHolderLoginSection
{
    height:100px;
    width:300px;
    display:block;
    background: url('../images/imgUsernameBG_Sprite.png') no-repeat top left;
}

.divHolderPasswordSection
{
    height:100px;
    width:300px;
    display:block;
    background: url('../images/imgPasswordBG_Sprite.png') no-repeat top left;
}

.txtBoxLoginSection
{
    border:none;
    background:transparent;
    padding:15px 13px 13px 13px;
    margin-top:30px;
    width:210px;
    color:#fff;
    outline:none;
}

.btnLogin
{
    height:100px;
    width:300px;
    background: url('../images/btnLogin.png') no-repeat top left;
    border:none;
}

.btnLogin:hover
{
    cursor:pointer;
}

.btnSubmit
{
    height:100px;
    width:300px;
    background: url('../images/btnSubmit.png') no-repeat top left;
    border:none;
}

.btnSubmit:hover
{
    cursor:pointer;
}

.validationLabel
{
    font-family:Arial;
    border:1px solid #ccc;
    padding:20px;
}

/*** Login Section End ***/

.websiteContainer
{
    background:#eee;
}

.menuContainer
{
    width:100%;
    height:55px;
    background:#000;
}

.menu
{
    background:#000;
}

.menu ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

.menu ul li
{
    float:left;
    display:inline;
    text-align:center;
}

.menu ul li a
{
    color:#fff;
    display:block;
    width:180px;
    padding:17px 15px 18px 15px;
    text-decoration:none;
    font-size:20px;
    line-height:20px;
    font-family:Strait;
}

.menu ul li a:hover
{
    background:#e3942d;
}

.pageContainer
{
    float:left;
    width:100%;
    margin:0;
    padding:0;
}

.leftPageContainer
{
    float:left;
    width:60%;
}

.rightMenuContainer
{
    float:left;
    margin-top:10px;
    background:#3c3d43 url('../images/imgRightPanel_bg.png') top left no-repeat;
    font-size:12px;
    color:#fff;
    text-align:left !important;
}

.sectionContainer
{   
    position:relative;
    width:100%;
    background-color:transparent;
}

.sectionContainerLeft
{
    float:left;
    width:98%;
    background-color:transparent;
    margin-top:0px !important;
    text-align:left !important;
}

.sectionContainerLeftCurrentMisson
{
    width:50%;
    background-color:transparent;
    margin-top:0px !important;
    text-align:left !important;
}

.sectionContainerRight
{
    position:absolute;
    width:98%;
    background-color:transparent;
    margin-top:0px !important;
    text-align:left !important;
    right:0; 
}

.margintopfifty
{
    margin-top:50px !important;
}

.margintopforty
{
    margin-top:40px !important;
}

.margintopten
{
    margin-top:20px !important;
}

.marginlefttwentyfive
{
    margin-left:25px !important;
}

.marginleftfifty
{
    margin-left:50px !important;
}

.missionWidthx
{
    max-width:740px!important;
}

.innerBoxWithShadow {
	-moz-box-shadow: 0 0 3px 2px rgba(148,147,147,.75); /* drop shadow */
	-webkit-box-shadow: 0 0 3px 2px rgba(148,147,147,.75); /* drop shadow */
	box-shadow: 0 0 3px 2px rgba(148,147,147,.75); /* drop shadow */
    
    margin:5px; 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -moz-border-radius: 5px / 4px;
	-webkit-border-radius: 5px / 4px;
	border-radius: 5px / 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
}

.ProfileInnerBoxWithShadow {
	-moz-box-shadow: 0 0 3px 2px rgba(148,147,147,.75); /* drop shadow */
	-webkit-box-shadow: 0 0 3px 2px rgba(148,147,147,.75); /* drop shadow */
	box-shadow: 0px 0 3px 2px #bab8b8; /* drop shadow */
    margin:5px; 
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -moz-border-radius: 5px / 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
  
       
}

.ProfileInnerBoxWithShadow2 {
	-moz-box-shadow: 0 0 3px 2px rgba(148,147,147,.75); /* drop shadow */
	-webkit-box-shadow: 0 0 3px 2px rgba(148,147,147,.75); /* drop shadow */
	box-shadow: 0px 0 3px 2px #bab8b8; /* drop shadow */
    margin:5px; 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -moz-border-radius: 5px / 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background:url(images/bg.png);
}

.profileBG
{
     background:url('../images/bg.png') 
}

.currentMissionProgressContainer
{
    position:relative;
    width:100%;
    min-height:60px;
    margin: 0px 0px 0px 0px;
}

.genericMainHeading
{
    margin-top:10px;
	width: 100%;
	height: 62px;
	background-color: rgba(50,49,49,.87); /* layer fill content */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDkzMSA2MSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEyNSUiIHgyPSI1MCUiIHkyPSItMjUlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjIyIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjIyIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iOTMxIiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.22) -25%, rgba(255,255,255,.22) 125%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.22) -25%, rgba(255,255,255,.22) 125%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.22) -25%, rgba(255,255,255,.22) 125%); /* gradient overlay */
	background-image: linear-gradient(bottom, rgba(0,0,0,.22) -25%, rgba(255,255,255,.22) 125%); /* gradient overlay */
}

.genericMainHeading h2
{
    color: #46b5eb; /* text color */
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding:10px 20px 20px 20px;
}

.genericHeading
{
    height:20px;
    text-align:left;
    font-family:'Open Sans';
    font-size:14px;
    line-height:20px;
    padding:10px 10px 10px 20px;
    margin-top: 0px;
	-moz-border-radius: 5px / 4px;
	-webkit-border-radius: 5px / 4px;
	border-radius: 5px / 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	-moz-box-shadow: 3px 0 5px rgba(0,0,0,.1); /* drop shadow */
	-webkit-box-shadow: 3px 0 5px rgba(0,0,0,.1); /* drop shadow */
	box-shadow: 3px 0 5px rgba(0,0,0,.1); /* drop shadow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDkyMiAyNyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDkiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDkiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI5MjIiIGhlaWdodD0iMjciIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */
}

.InsideGenericHeading
{
    height:20px;
    text-align:left;
    font-family:'Open Sans';
    font-size:14px;
    line-height:20px;
    padding:10px 10px 10px 20px;
    margin-top: 0px;
	-moz-border-radius: 5px / 4px;
	border-radius: 5px / 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background:#f5f5f5;
    border-color:#000;
}


.genericHeading2
{
    height:20px;
    width:100px;
    text-align:left;
    font-family:'Open Sans';
    font-size:14px;
    line-height:20px;
    padding:10px 10px 10px 20px;
    margin: 0px;
	-moz-border-radius: 5px / 4px;
	-webkit-border-radius: 5px / 4px;
	border-radius: 5px / 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	-moz-box-shadow: 3px 0 5px rgba(0,0,0,.1); /* drop shadow */
	-webkit-box-shadow: 3px 0 5px rgba(0,0,0,.1); /* drop shadow */
	box-shadow: 3px 0 5px rgba(0,0,0,.1); /* drop shadow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDkyMiAyNyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDkiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDkiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI5MjIiIGhlaWdodD0iMjciIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */
}

.genericHeadingDark
{
    height:20px;
    background:#000;
    text-align:center;
    font-family:'Open Sans';
    font-size:14px;
    line-height:20px;
    padding:10px;
    color:#fff;
}

.homeAchievementImageContainer
{
    float:left;
    text-align:center;
    font-size:10px;
    color:lightblue;
    padding:20px;
}

.homeAchievementImageContainer img
{
}

.homeAchievementImageContainer span
{
    text-align:center;

}

.homeGroupImages
{
    margin:30px;
}

.homeGroupImages a img
{
    margin:0px 10px 0px 0px;
    opacity:0.7;
}

.homeGroupImages a:hover img
{
    opacity:1;
}

.achieverItemContainer
{ 
    float:left;
    width:100%;
    border-bottom:2px solid #29292d;
}

.imgAchieverContainer
{
    float:left;
}

.imgAchieverContainer img
{
    margin:20px 0px 0px 50px;
}

.achieverDetails
{
    float:left;
    margin:20px 0px 20px 10px;
    font-family: 'Segoe UI';
}

.textLabel
{
    float:left;
    color:#fff;
    font-weight:bold;
    font-size:13px;
}

.textField
{
    float:left;
    color:#fff;
    font-size:13px;
    margin-left:10px;
}

.achievementStageContainer
{
    margin-top:0px;
    margin:50px 10px 0px 10px;
    width:760px;
    height:85px;
    background: url('../images/imgStagebg2.png') left repeat-x;
}

.ovalAchiementStage 
{
    float:left;
    margin:0px 0px 0px 0px;
    padding-top:20px;
    width: 220px;
    height: 65px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #d9dfe5; /* layer fill content */
    -moz-box-shadow: inset 0 0 38px #525151; /* inner shadow */
    -webkit-box-shadow: inset 0 0 38px #525151; /* inner shadow */
    box-shadow: inset 0 0 38px #525151; /* inner shadow */
    color: #5c6061; /* text color */
    font-family: "Open Sans Org", sans-serif;
    font-size: 18px;
}

.ovalAchiementStage span
{
    color: #7ebacc; /* text color */
    font-family: "Open Sans Org", sans-serif;
    font-size: 18px;
}

.homeHeaderContainer
{
    margin-top: 10px;
    min-height:200px;
    color:#fff;
    background:#2d2d2d;
    text-align:left !important;
}

.headerImgContainer
{
    float:left;
    margin: 50px 0px 0px 20px !important;
    min-height:100px;
}

.headerImgContainer img
{
    border:2px solid #fff;   
}

.headerProgressBarEmpty
{
	width: 200px;
	height: 13px;
	border: 5px solid #605f5f; /* stroke */
	background-color: #a0a0a0; /* layer fill content */
	-moz-box-shadow: inset 0 0 5px rgba(251,247,193,.75); /* inner glow */
	-webkit-box-shadow: inset 0 0 5px rgba(251,247,193,.75); /* inner glow */
	box-shadow: inset 0 0 5px rgba(251,247,193,.75); /* inner glow */
}

.percentageHeaderProgressBar
{
    width:100%;
    background: url('../images/imgProgressBarProfile.png') repeat top left;
    height:13px;
}

.headerContentContainer
{
    float:left;
    width:75%;
    min-height:60px;
    margin:20px 0px 0px 0px;
}

.progressContainer
{
    float:left;
    margin-top:8px;
    width:200px;
    font-family:'Open Sans';
    font-size:11px;
}

.progressContainer p
{
    margin-bottom:10px;
    padding:0;
    font-size:12px;
}

.progressContainer span
{
}

.progressContainerProfile
{
    float:left;
    margin:0px 0px 0px 20px;
    width:250px;
    height:80px;
    font-family:'Open Sans';
    font-size:11px;
    text-transform:uppercase;
}

.progressContainerProfile p
{
    margin:5px 0px 5px 0px;
    padding:0;
    font-size:16px;
    font-family:'OpenSansExtraBold';
    text-transform:uppercase;
    line-height:24px;
}

.progressBarEmpty
{
	width: 200px;
	height: 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	-moz-box-shadow: 0 -1px 5px 0 rgba(0,0,0,.75), inset 2px -18px 40px 6px rgba(0,0,0,.75); /* drop shadow and inner shadow */
	-webkit-box-shadow: 0 -1px 5px 0 rgba(0,0,0,.75), inset 2px -18px 40px 6px rgba(0,0,0,.75); /* drop shadow and inner shadow */
	box-shadow: 0 -1px 5px 0 rgba(0,0,0,.75), inset 2px -18px 40px 6px rgba(0,0,0,.75); /* drop shadow and inner shadow */
    background-color: #fff; /* layer fill content */
}

.percentageBlue {
	height: 8px;
	-moz-border-radius: 3px / 4px;
	-webkit-border-radius: 3px / 4px;
	border-radius: 3px / 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #3fb2eb; /* layer fill content */
}

.percentageGreen
{ 
    float:left; 
    width:92%;
    height:20px;
    background:#8bc436;

}

.percentageOrange
{
    float:left;
    width:92%;
    height:20px;
    background:#f17e31;
}

.percentagePurple
{
    float:left;
    width:92%;
    height:20px;
    background:#d75fed;
}

.StartButtonPosition
{
    position:absolute;   
    right:25px;    
    bottom:-10px;
}

.StartButtonPositionCurrent
{
    position:absolute;
    right:0px;
    top:15px;
}

.btnStart
{
    width:60px;
    text-align:center;
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	border: 1px solid #aaa;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 4px 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #000;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0 1px rgba(255, 255, 255, .75);
	cursor: pointer;
	margin-bottom: 20px;
	line-height: 21px;
	font-family: 'Myriad Pro', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*width:100px;
    border:none;
    text-decoration:none;
    background:#000;
    color:#fff;
    padding:10px;
    font-family:'Myriad Pro';
    font-size:14px;*/
}

.btnStart:hover
{
    color: #222;
    background: #ddd; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
    border: 1px solid #888;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
}

.missionHeaderImages
{
    margin:10px 0px 10px 0px;
}

.headerContainer
{
    padding:15px;
    margin:10px;
    color:#636263;
    background:#d8d8d8;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.headerContainer span
{
    margin:0px 0px 0px 10px;
    font-family:Open Sans;
    font-size:20px;
    font-weight:bold;
    color:#333;
}

.headerHeading
{
    width:100%;
    font-size:25px;  
    font-weight:bolder;
    color:#333;
}

.portalFeatureContainer
{
    position:relative;
    margin: 15px;
    padding:20px;
    color:#636263;
    background:#d8d8d8;
}

.portalBody
{
    margin:0px 0px 0px 20px;
}

.portalImages
{
    float:left;
    margin:10px;
    width:30%;
}

.completeMissionBody
{
    height:auto;
    background:#fff;
}

.completeMissionInner
{
    width:100%;
    background: url('../images/imgAchiementBG.png') repeat top left;
}

.completeMissionHighlight
{
    background: url('../images/imgHighlightEffect.png') repeat;
}

.roundedCornerBox
{
    padding:50px;
    width: 150px;
    height: 150px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
}

.complet{
    width:275px;
    padding-top:5%;
}

.completeMissionContainer p
{
    margin-top:20px;
    font-family:Open Sans;
    font-weight:bold;
    font-size:20px;
    color:#308dae;
    text-align:center;
    text-align: -webkit-center;
}

.completeMissionContainer p
{
    margin-top:20px;
    font-family:Open Sans;
    font-weight:bold;
    font-size:20px;
    color:#308dae;
    text-align:center;
    text-align: -webkit-center;
}

.completeMissionContainer span
{
    margin-top:5px;
    font-family:Open Sans;
    font-weight:bold;
    font-size:10px;
    color:#fff;
    text-align:center;
    text-align: -webkit-center;
}

.meetLegendContainer
{
    margin:20px 0px 0px 0px;
}

.half
{
    float:left;
    width:48%;
}

.one-third
{
    float:left;
    width:31% !important;
}

.two-third
{
    float:left;
    width:63% !important;
}

.txtTextBoxGeneric
{
    border:1px solid #555;
    padding:5px;
    margin:5px;
    width:200px;
}

.missionQuestion
{
    padding:5px;
}

.missionQuestionTeam
{
    padding:5px;
    float:left;
}

.missionAnswerTeam
{
    float:left;
    margin:4px 0px 0px 0px !important;
}

.footer {
    padding-top:15px;
    text-align:left !important;
}

.footer h2
{
	color: #191919; /* text color */
	font-family: "Open Sans Org", sans-serif;
	font-size: 24px;
    margin-bottom:20px;
}

.footer p
{
   padding: 0 20px 20px 0;
}

.footer ul li 
{
    line-height:1em;
    margin-bottom:20px;
}

.logoContainer
{
    position:absolute;
    bottom:-200px;
    right:20px;
}

.holderIcon
{
    float:left;
    width:15%;
    margin:10px 10px 10px 10px;
}

.holderText 
{
    float: left;
    width:75%;
}

.holderText h3
{
    font-family:'Myriad Pro';
    line-height:16px;
    color: #46b5eb;
    font-size:15px !important;
    letter-spacing:0.5px;
    margin:0px;
    padding:0px;
}

.holderText p 
{
    font-family:'Myriad Pro';
    line-height:13px;
    font-size:13px !important;
    padding:3px 0px;
    color: #555;
}

.holderText:hover p 
{
    font-family:'Myriad Pro';
    line-height:13px;
    font-size:13px !important;
    padding:3px 0px;
    color: #333;
}

.helpheader
{
    width: 95%;
    height: 36px;
    background-color: #ddd; /* layer fill content */
    color: #434343; /* text color */
    font-family: "Arial";
    font-size: 13px;
    padding: 5px 0 0 20px;
    margin:20px 10px 10px 0px;
    cursor:pointer;
}

.helpheader:hover
{
    width: 95%;
    height: 36px;
    background-color: #46b5eb; /* layer fill content */
    color:#fff;
}

.helpheader span
{
    font-size:20px;
    padding-right:10px;
}

.missionContainer
{
    margin-top:10px;
    color:#4e4b4b;
}

.missionContainer p 
{
    margin:10px 120px 0px 0px !important;
    font-size:12px;
    letter-spacing:normal;
    line-height:20px !important;
    color:#4e4b4b;
}

.missionHeader
{
    background-color: #45b5eb; /* color overlay */
    font-family:'Open Sans';
    font-size:22px;
    letter-spacing:normal;
    padding-bottom:40px !important;
    line-height:20px !important;
}

.missionHeading
{
    font-family:'Open Sans';
    font-size:18px;
    letter-spacing:-0.15px;
    line-height:20px !important;
    color:#4e4b4b;
}

.missionHeading span
{
    font-family:'Open Sans';
    font-size:14px;
    letter-spacing:normal;
    line-height:20px !important;
    float:right;
}

.missionContentNoDisplay
{
    display:none;
}

.missionContainer-Active
{
	height: 4px;
	background-color: #fff; /* color overlay */
	-moz-box-shadow: inset 0 0 28px 4px rgba(104,99,99,.38); /* inner shadow */
	-webkit-box-shadow: inset 0 0 28px 4px rgba(104,99,99,.38); /* inner shadow */
	box-shadow: inset 0 0 28px 4px rgba(104,99,99,.38); /* inner shadow */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding-right:25px;
}

.missionContainer-ActiveFull
{
	background-color: #fff; /* color overlay */
	-moz-box-shadow: inset 0 0 28px 4px rgba(104,99,99,.38); /* inner shadow */
	-webkit-box-shadow: inset 0 0 28px 4px rgba(104,99,99,.38); /* inner shadow */
	box-shadow: inset 0 0 28px 4px rgba(104,99,99,.38); /* inner shadow */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding-right:25px;
}

.missionInner-Active
{
    height: auto;
    -moz-box-shadow: inset 0 0 16px rgba(104,99,99,.75); /* inner shadow */
    -webkit-box-shadow: inset 0 0 16px rgba(104,99,99,.75); /* inner shadow */
    box-shadow: inset 0 0 16px rgba(104,99,99,.75); /* inner shadow */
    padding:25px;
    background:#f6f6f6;
}

.innerMissionText
{
    position:relative;
    width: 90%;
    margin: 0 5%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.missionSubHeading
{
	width: 100%-2px;
	height: 35px;
	border: 1px solid #8e8e8e; /* stroke */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDM1MSA0NyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDkiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDkiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIzNTEiIGhlaWdodD0iNDciIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */

    color: #525050; /* text color */
    font-family: "Open Sans Org", sans-serif;
    font-size: 15px;
    text-align:center;
    padding-top:0px;
    text-transform:uppercase;
    font-weight:bold;
    margin:0;
}

.tagLine
{
    float:left;
    color:#46bbf4;
}

.imageRight
{
    float:right;
}

/*** Comments ***/

.CommentItemContainer
{ 
    float:left;
    width:100%;
    padding-bottom:15px !important;
}

.imgCommentContainer
{
    float:left;
}

.imgCommentContainer img
{
    margin:20px 0px 0px 20px !important;
}

.CommentDetails
{
    float:left;
    margin:15px 0px 20px 10px !important;
    font-family: 'Open Sans';
    color:#333;
}

.CommentDetails span
{
    font-size:15px;
    color:#333;
}

.textLabelDark
{
    float:left;
    font-weight:bold;
    line-height:20px;
    margin-right:0px;
}

.textFieldDark
{
    float:left;
    font-size:12px;
    font-style:normal;
    line-height:22px;
    color:#ccc;
}

/*** Notificationss ***/

.NotificationsItemContainer
{ 
    padding:20px 0px 10px 30px;
    background-color:transparent;
    border-bottom:2px solid #29292d;
}

.NotificationsItemContainer b
{
    margin-left:10px;
    font-family:'Segoe UI';
    font-size:14px;
    font-weight:bold;
}

.NotificationsMessage
{
    margin:0px 20px 0px 20px;
    font-family:'Segoe UI';
    font-size:14px;
    font-weight:normal;
    color:#aaa;
}

.ProfileMissionText
{
    font-family:'Open Sans';
    font-size: 12px;
    margin: 10px 0px 0px 10px;
    line-height:15px;
}

.alignLeft
{
   float:right;
   margin-right:45px;
}